@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CONGRATULATIONS!</h1>
    <p class="lead">Welcome on board!</p>
    <p><a href="https://www.epam.com" class="btn btn-primary btn-lg">Go Home &raquo;</a></p>
</div>

